.clearfixed {
    *zoom: 1;
}
.clearfixed:after{
    content: '';
    display: block;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}

.main {
    padding: 0 12px;
}
.box {
    background-color: #ffffff;
    border-radius: 10px; 
    margin-top: 10px;
}
.box-list {
    padding: 0 10px;
}

.box-con {

}
.box-header {
    display: inline-block;
    max-width: 100%;
    font-size: 14px;
    line-height: 1.4em;
    padding: 13px 14px 6px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.box-header .left-img {
    width: 18px;
    height: 17px;
    margin-right: 7px;
    float: left;
}
.box-header span {
    color: #424242;
}
.box-header .right-img {
    width: 7px;
    height: 12px;
    margin: auto;
    position: absolute;
    bottom: 9px;
    right: 0;    
}

.box-status {
    font-size: 12px;
    color: #999999;
    text-align: right;
    padding-top: 2px;
    padding-bottom: 10px;
}
.box-status.red_color {
    color: #ee2d2d;
}

.box-wrap {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px 10px 0;
    position: relative;
}
.box-wrap-good {
    padding-bottom: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.goods-left {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 8px;
    position: relative;
}
.goods-left .goods_img {
    width: 100%;
    height: 100%;
}
.goods-left .goods_tag {
    width: 30px;
    position: absolute;
    left: 0;
    top: 0;
}
.goods-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.goods-content-title {
    height: 40px;
    font-size: 12px;
    color: #424242;
    word-break: break-all;
    white-space: normal;
    line-height: 1.5em;
    display: -webkit-box;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.goods-content p {
    font-size: 12px;
    color: #999999;
    margin: 0;
}
.goods-content p span {
    float: right;
}
.box-wrap-button {
    text-align: right;
    padding-bottom: 15px;
}
.btn {
    display: inline-block;
    width: 80px;
    font-size: 14px;
    color: #424242;
    line-height: 2em;
    text-align: center;
    border: 1px solid #999999;
    border-radius: 4px;
}
.btn.btn-red {
    color: #ee2d2d;
    border: 1px solid #ee2d2d;
}
.box-btns {
    text-align: right;
    padding-bottom: 15px;
}
.box-btns p {
    font-size: 12px;
    color: #424242;
    line-height: 1em;
    margin: 0;
    padding: 15px 0;
}